<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="ConnectionString" value="E:\Projects\VItesco\M4c Line\Using Bat Files\Bridge1\Database\Station1" />
		<add key="LogDirectory" value="E:\Projects\VItesco\M4c Line\Using Bat Files\Bridge1\Logs" />

		<add key="OPCConnection" value="opc.tcp://192.168.1.121:4840" />

		<add key="EventNode"
			 value="ns=3;s=&quot;DB_MES_ST01&quot;.&quot;PLC_MES&quot;.&quot;Comanad Name&quot;" />

		<add key="PingNode"
			 value="ns=3;s=&quot;DB_MES_ST01&quot;.&quot;MES_PLC&quot;.&quot;GHP_Connection&quot;" />
		<add key="PingDatatype" value="Bool" />

		<add key="StatusNode"
			 value="ns=3;s=&quot;DB_MES_ST01&quot;.&quot;MES_PLC&quot;.&quot;Status&quot;[0]" />
		<add key="StatusNodeDatatype" value="String" />

		<add key="PingTimer"
			 value="ns=3;s=&quot;DB_MES_ST01&quot;.&quot;MES_PLC&quot;.&quot;Var_Int&quot;[24]" />
		<add key="PingTimerDatatype" value="Int" />

		<add key="IconNumber" value="1" />

	</appSettings>
</configuration>