<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="E:\\Projects\\Vitesco\\Database" />
		<add key="LogDirectory" value="E:\\Projects\\Vitesco\\Logs" />
		<add key="OPCConnection" value="opc.tcp://192.168.1.12:4840" />
		<add key="EvetNode" value="ns=4;i=187" />
		<add key="PingNode" value="ns=4;i=343"/>
		<add key="PingDatatype" value="BOOL" />
		<add key="StatusNode" value="ns=4;i=281" />
		<add key="StatusNodeDatattype" value="string" />
		<add key="PingTimer" value="ns=4;i=293" />
		<add key="PingTimerDatatype" value="Int" />
		<add key="IconNumber" value="2" />

	</appSettings>
</configuration>